*, ::after, ::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.block {
  display: flex;
  flex-wrap: wrap;
  color: #000;
}

.block1 {
  max-width: 440px;
  width: 100%;
  margin: 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(78.04, 78.04, 78.04, 0.25);
  text-align: center;
}

.image {
  margin: 20px 0;
}

.image1 {
  padding: 17px;
}

.block2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 380px;
  height: 158px;
  margin: auto;
  position: relative;
}

.text1 {
  font: 600 22px/24.2px "Gilroy", sans-serif;
}

.text2 {
  font: 400 14px/16.8px "Gilroy", sans-serif;
  position: absolute;
  margin-top: 45px;
}

.knopka {
  width: 200px;
  height: 70px;
  border-radius: 5px;
  background-color: #e31e24;
  font: 600 18px/19.8px "Gilroy", sans-serif;
  color: #fff;
  margin: 40px 0;
}

.block3 {
  width: 465px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 60px;
}

.block4 {
  display: flex;
  gap: 10px;
}

.navigate {
  width: 50px;
  height: 50px;
  font: 600 18px/18px "OpenSans", sans-serif;
  background-color: #fff;
  border: 0.1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 4px #c7c7c7;
}

.active {
  background-color: #e31e24;
  color: #fff;
}

.left {
  background-image: url(../img/img4.png);
  background-repeat: no-repeat;
  background-position: center;
}

.right {
  background-image: url(../img/img5.png);
  background-repeat: no-repeat;
  background-position: center;
}

.left:hover {
  background-color: #e31e24;
  background-image: url(../img/img6.png);
  background-repeat: no-repeat;
  background-position: center;
}

.right:hover {
  background-color: #e31e24;
  background-image: url(../img/img7.png);
  background-repeat: no-repeat;
  background-position: center;
}