.block {
    width: 1230px;
    height: 587px;
    background-color: #f8f9fb;
    padding: 80px 105px;
}

a {
    text-decoration: none;
    color: #006b99;
    padding: 8px 27px;
}

.cap {
    width: 1173px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.txt {
    margin: 0;
    font-size: 50px;
}

.txt1 {
    text-align: justify;
    padding-right: 40px;
}

.txt2 {
    font-size: 30px;
    margin: 0;
    padding: 10px 0px;
}

.div1 {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 355px;
    height: 487px;
    background-color: white;
}

img {
    height: 238px;
}

.div2 {
    padding: 25px 20px;
}

.unit {
    width: 122px;
    height: 22px;
    margin: 25px 0 0 0;
    padding: 5px 25px;
    background-color: #e6f7ff;
    text-align: center;
    color: #006b99;
}