@media (max-width: 1280px) {
  .block {
    display: flex;
    flex-wrap: wrap;
  }
  .input {
    margin-top: 40px;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.forma {
  width: 100%;
  padding: 20px calc(50% - 640px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.block {
  display: flex;
  justify-content: start;
  gap: 40px;
  align-items: flex-start;
}

.block1 {
  width: 605px;
}

.block1_input {
  width: 605px;
  box-shadow: 0px 0px 10px 0px rgba(38, 41, 46, 0.25);
  margin: 10px 0 19px 0;
  font: 500 16px/19.2px 'Montserrat', sans-serif;
  color: #C4C4C4;
  padding: 14px 0 14.5px 19px;
}

.input {
  background: #408858;
  width: 262px;
  height: 58.4px;
  font: 500 20px/24px 'Roboto', sans-serif;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.notation {
  height: 146px;
}

.block2 {
  width: 635px;
}

.text3 {
  width: 559px;
  color: #414141;
  font: 400 20px/28px 'Roboto', sans-serif;
  margin-top: 9.7px;
}

.text1 {
  font: 500 50px/60px 'Roboto', sans-serif;
  color: #26292E;
  margin-bottom: 55px;
}

.text2 {
  font: 500 20px/24px 'Montserrat', sans-serif;
  color: #26292E;
}

.text4 {
  font: 400 30px/1 'Roboto', sans-serif;
  color: #414141;
  margin-left: 11.3px;
}

.text5 {
  margin-bottom: 29px;
}