* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.block {
  width: 100%;
  padding: 115.34px calc(50% - 640px) 57.33px;
  background-color: #f2f8f6;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.img-block {
  width: 446.7px;
  height: 437.3px;
  background: #fff;
  left: -33.3px;
  top: -48.1px;
  position: relative;
}

.img-block::before {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  content: "";
  border: 20px solid #3d8455;
  position: absolute;
  z-index: 3;
  top: 48.1px;
  left: 33.3px;
}

.img-block img {
  position: absolute;
  z-index: 5; 
  left: 146px;
  top: -49.3px;
}

.content-block {
  padding-left: 42px;
  width: 550px;
}

.text1 {
  font: 500 50px/58.6px "Roboto", sans-serif;
  color: #26292E;
  margin-bottom: 19px;
}

.text2 {
  margin-bottom: 23px;
  width: 550px;
  font: 400 20px/28px "Roboto", sans-serif;
  color: #26292E;
}

.list-block {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 13px;
  margin-bottom: 42px;
}

.list-block__item {
  margin-bottom: 13px;
  font: 500 20px/28px "Roboto", sans-serif;
  color: #26292e;
  padding-left: 12px;
  position: relative;
}

.list-block__item::before {
  content: url(../img/img2.png);
  position: absolute;
  left: 0;
}

.list-block__item:last-child {
  margin-bottom: 0;
}

.block-link {
  text-transform: uppercase;
  color: #fff;
  font: 500 20px/24px "Roboto", sans-serif;
  height: 57px;
  background: #408858;
  padding: 0 43px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}
